<h1>Editar Projeto</h1>

<%= render 'form' %>

<br />
<%= link_to 'Show', @projeto,:class=>"waves-effect waves-light btn"  %> 
<%= link_to 'Back', projetos_path,:class=>"waves-effect waves-light btn"  %>
