<h1>Editar Processo</h1>

<%= render 'form' %>

<br />
<%= link_to 'Show', @processo,:class=>"waves-effect waves-light btn"  %> 
<%= link_to 'Back', processos_path,:class=>"waves-effect waves-light btn"  %>
