<div id="page-wrapper">
<center>
<br><h3>Nova Atividade</h3><br>


</center>
<%= render 'form_atividade' %>
<div class="container">
	<%= link_to '< Voltar', processos_path, :class=>"waves-effect waves-light btn" %>
</div>

