<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>SisGP</title>
  <!-- CSS  -->
  
  <!--<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> !-->
</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2" >Sistema Gerenciador de Processos</h1>
        <div class="row center">
          <h5 class="header col s12 light" >Uma forma fácil e completa de gerenciar seus processos</h5>
        </div>
        <div class="row center">
          <a href="/usuarios/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Comece já!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" style="-webkit-filter: brightness(50%);"><%=image_tag("background1.jpg", width:'100%')%></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">phone_iphone</i></h2>
            <h5 class="center">Mobile</h5>

            <p align= "center" class="light">O acesso mobile permite que o usuário acesse seus projetos a qualquer hora, em qualquer lugar.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group_add</i></h2>
            <h5 class="center">Integração</h5>

            <p class="light">Gerencie seus processos permitindo que sua equipe acompanhe em tempo real cada mudança.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">attach_file</i></h2>
            <h5 class="center">Organização</h5>

            <p class="light">Todos os seus processos, projetos e portfólios unidos em um só local.</p>
            
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">Controle seus Portfólios, Projetos e Processos de forma organizada</h5>
        </div>
      </div>
    </div>
    <div class="parallax" style="-webkit-filter: brightness(50%);"><%=image_tag("background2.jpg", width:'100%')%></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center"> 
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Sobre nós</h4>
          <p class="center-align light">O SisGP foi criado na intenção de permitir que seus usuários tenham uma forma fácil e rápida de gerenciar seus projetos e cronogramas em um só espaço, podendo acessá-los em qualquer local, a qualquer momento. </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">Adicione usuários para as atividades dos seus processos</h5>
        </div>
      </div>
    </div>
    <div class="parallax" style=" -webkit-filter: brightness(50%);"><%=image_tag("background3.jpg", width:'100%')%></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Como contribuir</h5>
          <p class="grey-text text-lighten-4">Contribua também para o projeto através do nosso <b><a class="grey-text text-lighten-4" href="https://github.com/DesenhoDeSofwareUNB/SisGP" target="_blank">github</a></b></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Criadores</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/rafaelakiyoshi" target="_blank">Rafael Akiyoshi</a></li>
            <li><a class="white-text" href="https://github.com/annalari" target="_blank">Anna Larissa Martins</a></li>
            <li><a class="white-text" href="https://github.com/marcowilliam" target="_blank">Marco William Silva</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 SisGP.</a>
      </div>
    </div>
  </footer>

  </body>
</html>
